<script type="text/javascript">

$(document).ready(function() {
    $('.increment-qty').click(function(e) {
        e.preventDefault();
        var itemId = $(this).data('item_id');
        var qtyInput = $('#id_qty_' + itemId);
        var currentQty = parseInt(qtyInput.val());
        var newQty = currentQty + 1;
        qtyInput.val(newQty);
    });

    // Decrement quantity
    $('.decrement-qty').click(function(e) {
        e.preventDefault();
        var itemId = $(this).data('item_id');
        var qtyInput = $('#id_qty_' + itemId);
        var currentQty = parseInt(qtyInput.val());
        var newQty = currentQty - 1;
        if (newQty >= 1) {
            qtyInput.val(newQty);
        } else {
            qtyInput.val(1);
        }
    });
});
</script>