{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="page-title my-5 py-5">
                Where to find us
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 offset-md-2">
            <div class="location-details d-flex flex-column">
                <h3>{{ location.name }}</h3>
                <p>{{ location.phone_number }}</p>
                <p>{{ location.email }}</p>
                <p>{{ location.street_address1 }}</p>
                {% if location.street_address2 %}
                    <p>{{ location.street_address2 }}</p>
                {% endif %}
                <p>{{ location.town_or_city }}</p>
                {% if location.county %}
                    <p>{{ location.county }}</p>
                {% endif %}
                <p>{{ location.country }}</p>
                {% if location.postcode %}
                    <p>{{ location.postcode }}</p>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="location-opening-hours">
                {% for day in days_list %}
                    <p class="day">
                        {{ day.day }}: {{ day.open }} - {{ day.close }}
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div id="map" class="mt-5"></div>
{% endblock %}

{% block postloadjs %}